<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>树状结构</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    
</head>
<body>

<div class="layui-row">
	<div class="layui-col-md3">
      	<div style="display: inline-block; width: 100%; height: 100%; padding: 10px; border: 1px solid #ddd; overflow: auto;">
  			<ul id="demo1"></ul>
		</div>
    </div>
    <div class="layui-col-md9">
      		<span style="color: red;" th:text="${menutree}"></span>
    </div>
    
  </div>




<input id="treeDateID" th:value="${menutree}">

<script src="/layui/layui.js" charset="utf-8"></script>
<script>
//Demo
layui.use(['tree', 'layer'], function(){
  var layer = layui.layer
  ,$ = layui.jquery; 
  var jsonDate = $("#treeDateID").val();
  var nodes = 
  layui.tree({
     elem: '#demo1' //指定元素
    ,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
    ,click: function(item){ //点击节点回调
      layer.msg('当前节名称：'+ item.name + '<br>全部参数：'+ JSON.stringify(item));
      console.log(item);
    }
    ,nodes: [ //节点
              jsonDate
    ]
  });
});
</script>


</body>
</html>
