package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import com.jimmy.framework.core.common.utils.PageUtils;
import java.util.List;
import java.util.Map;
import com.jimmy.framework.core.common.entity.PageDO;
import ${package}.dao.${className}Dao;
import ${package}.domain.${className}DO;
import ${package}.service.${className}Service;



@Service
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
	
	@Override
	public ${className}DO get(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.get(${pk.attrname});
	}
	
	@Override
	public List<${className}DO> list(Map<String, Object> map){
		return ${classname}Dao.list(map);
	}
	
	@Override
	public int count(Map<String, Object> map){
		return ${classname}Dao.count(map);
	}
	
	@Override
	public int save(${className}DO ${classname}){
		return ${classname}Dao.save(${classname});
	}
	
	@Override
	public int update(${className}DO ${classname}){
		return ${classname}Dao.update(${classname});
	}
	
	@Override
	public int remove(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.remove(${pk.attrname});
	}
	
	@Override
	public int batchRemove(${pk.attrType}[] ${pk.attrname}s){
		return ${classname}Dao.batchRemove(${pk.attrname}s);
	}
	
	/**
	* 另外一种分页方式
	*/
	@Override
	public PageDO<${className}DO> queryPageList(Map<String, Object> query){
		int total = ${classname}Dao.count(query);
		List<${className}DO> listDatas = ${classname}Dao.list(query);
		PageDO<${className}DO> page = new PageDO<>();
		page.setTotal(total);
		page.setRows(listDatas);
		return page;
	}
	
	
	
}
